@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialSummaryViewModel

<div class="blue_button" style="padding-left: .3em; padding-bottom: .1em; padding-top: .1em;">
    <h2>Burial Database Catalogue</h2>
</div>



<br />

<div class="row">
    <div class="col-3">
        <form asp-action="Filter" method="post">

            <div class="form-group">
                <label>Hair Color:</label>
                <select name="filter">
                    <option value="all">All</option>
                    <option value="K">Black</option>
                    <option value="B">Brown</option>
                    <option value="R">Red</option>
                    <option value="A">Brown-Red</option>
                    <option value="D">Blond</option>
                    <option value="U">Unknown</option>

                </select>
            </div>

            <button type="submit" class="btn blue_button">Filter</button>

            <a asp-action="BurialSummaryList" asp-route-id="" class="btn blue_button">Clear Filters</a>
        </form>
    </div>
    <div class="col-9">
        @foreach (var b in Model.Burials)
        {


            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Burial ID: @b.SingleLocation.BurialLocationNs @b.SingleLocation.LowValueNs/@b.SingleLocation.HighValueNs @b.SingleLocation.BurialLocationEw @b.SingleLocation.LowValueEw/@b.SingleLocation.HighValueEw @b.SingleSublocation.Subplot #@b.SingleBurial.BurialNumber</h5>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-4">
                                <b>Measurements (Meters)</b><br />
                                Depth: @b.SingleBurial.BurialDepthMeters meters<br />
                                Length: @b.SingleBurial.LengthOfRemains meters<br />
                                South to Head: @b.SingleBurial.SouthToHead<br />
                                South to Feet: @b.SingleBurial.SouthToFeet<br />
                                West to Head: @b.SingleBurial.WestToHead<br />
                                West to Feet: @b.SingleBurial.WestToFeet
                            </div>
                            <div class="col-4">
                                <b>Characteristics</b><br />
                                Age Category: @b.SingleBurial.AgeCodeSingle<br />
                                Estimated Age: @b.SingleBurial.EstimateAgeAtDeath<br />
                                C14 Estimated Average Age: @b.SingleBurial.Calibrated95Dateavg<br />
                                Gender: @b.SingleBurial.GenderCode<br />
                                Gender Method: @b.SingleBurial.BurialGenderMethod<br />
                                Hair color: @b.SingleBurial.HairColorCode
                            </div>
                            <div class="col-4">
                                <b>Additional</b><br />
                                Date Excavated: @b.SingleBurial.YearExcavated/@b.SingleBurial.MonthExcavated/@b.SingleBurial.DayExcavated<br />
                                Sample Taken: @b.SingleBurial.BurialSampleTaken<br />
                                Artifact Found: @b.SingleBurial.ArtifactFound<br />
                                Goods: @b.SingleBurial.Goods<br />
                                Photo Taken: @b.SingleBurial.PhotoTaken
                            </div>
                        </div>

                    </p>
                    <div class="text-right">
                        <form method="get" asp-action="BurialDetails">
                            <input type="hidden" name="id" value="@b.SingleBurial.BurialId" />
                            <button class="btn orange_button" style="float:right" type="submit">View More Details</button>
                        </form>
                    </div>

                </div>
            </div>


        }

        <div page-info="@Model.pageNumbering" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn blue_button" class="btn-group pull-right m-1">

        </div>
    </div>
</div>







