@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BurialSummaryViewModel

<div class="blue_button" style="padding-left: .3em; padding-bottom: .1em; padding-top: .1em;">
    <h2>Burial Database Catalogue</h2>
</div>



<br />

<div class="row">
    <div class="col-3">
        <form asp-action="Filter" method="post">

            <div class="form-group">
                <label>Location</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Location , ViewBag.Filters.Location))">

                    <option value="all">All</option>
                </select>
            </div>

            <div class="form-group">
                <label>Burial Direction</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Direction , ViewBag.Filters.BurialDirection))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Gender Code</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Gender , ViewBag.Filters.Gender))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Age Code</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Age , ViewBag.Filters.Age))">
                    <option value="all">All</option>
                </select>
            </div>

            <div class="form-group">
                <label>Min Depth</label>
                <input type="number" step="0.01" min="0" max="10" value="@(ViewBag.MinDepth)" class="form-control" name="filter" />
                <label>Max Depth</label>
                <input type="number" step="0.01" min="0" max="10" value="@(ViewBag.MaxDepth)" class="form-control" name="filter" />
            </div>

            <div class="form-group">
                <label>Hair Color:</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.HairColor , ViewBag.Filters.HairColor))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class=" form-group">
                <label>Sample Taken</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Sample , ViewBag.Filters.Sample))">
                </select>
            </div>
            <div class=" form-group">
                <label>Burial Wrapping</label>
                <select class="form-control" name="filter" asp-items="@(new SelectList(ViewBag.Wrap , ViewBag.Filters.Wrap))">
                    <option value="all">All</option>
                </select>
            </div>

            <button type="submit" class="btn blue_button">Filter</button>

            <a asp-action="BurialSummaryList" asp-route-id="" class="btn orange_button">Clear Filters</a>
        </form>
    </div>
    <div class="col-9">
        @foreach (var b in Model.Burials)
        {


            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                            <h5 class="card-title">Burial ID: @b.SingleLocation.BurialLocationNs @b.SingleLocation.LowValueNs/@b.SingleLocation.HighValueNs @b.SingleLocation.BurialLocationEw @b.SingleLocation.LowValueEw/@b.SingleLocation.HighValueEw @b.SingleSublocation.Subplot #@b.SingleBurial.BurialNumber</h5>
                        </div>
                        
                        <div class="col-5">
                            <p style="float:right" class="text-right">
                                Date Excavated: @b.SingleBurial.MonthExcavated/@b.SingleBurial.DayExcavated/@b.SingleBurial.YearExcavated<br />
                            </p>
                        </div>

                    </div>
                    <p class="card-text">
                        <div class="row">
                            <div class="col-4">
                                <b>Burial Situation</b><br />
                                <table>
                                    <tr>
                                        <td>Depth:</td>
                                        <td>@b.SingleBurial.BurialDepthMeters</td>
                                    </tr>
                                    <tr>
                                        <td>Length:</td>
                                        <td>@b.SingleBurial.LengthOfRemains</td>
                                    </tr>
                                    <tr>
                                        <td>Burial Direction:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        @if (b.SingleBurial.BurialDirection == "W")
                                        {
                                            <td>West</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "E")
                                        {
                                            <td>East</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Burial Wrapping:</td>
                                        @if (b.SingleBurial.BurialWrapping == "W")
                                        {
                                            <td>Full/Nearly Full</td>
                                        }
                                        else if (b.SingleBurial.BurialWrapping == "H")
                                        {
                                            <td>Partial</td>
                                        }
                                        else if (b.SingleBurial.BurialWrapping == "B")
                                        {
                                            <td>Bones/Partial</td>
                                        }
                                        else if (b.SingleBurial.BurialWrapping == "U")
                                        {
                                            <td>Unknown</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                </table>
                            </div>
                            <div class="col-4">
                                <b>Characteristics</b><br />
                                <table>
                                    <tr>
                                        <td>Age Code: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        @if (b.SingleBurial.AgeCodeSingle == "A")
                                        {
                                            <td>Adult</td>
                                        }
                                        else if (b.SingleBurial.AgeCodeSingle == "C")
                                        {
                                            <td>Child</td>
                                        }
                                        else if (b.SingleBurial.AgeCodeSingle == "U")
                                        {
                                            <td>Unknown</td>
                                        }
                                        else { <td></td> }
                                    </tr>
                                    <tr>
                                        <td>Estimated Age:</td>
                                        <td>@b.SingleBurial.EstimateAgeAtDeath</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        @if (b.SingleBurial.GenderCode == "F")
                                        {
                                            <td>Female</td>
                                        }
                                        else if (b.SingleBurial.GenderCode == "M")
                                        {
                                            <td>Male</td>
                                        }
                                        else if (b.SingleBurial.GenderCode == "S")
                                        {
                                            <td>SubAdult</td>
                                        }
                                        else if (b.SingleBurial.GenderCode == "U")
                                        {
                                            <td>Undetermined</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Hair Color:</td>

                                        @if (b.SingleBurial.HairColorCode == "B")
                                        {
                                            <td>Brown</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "K")
                                        {
                                            <td>Black</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "A")
                                        {
                                            <td>Brown-Red</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "R")
                                        {
                                            <td>Red</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "D")
                                        {
                                            <td>Blond</td>
                                        }
                                        else if (b.SingleBurial.HairColorCode == "U")
                                        {
                                            <td>Unknown</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                </table>
                            </div>
                            <div class="col-4">
                                <b>Additional</b><br />
                                <table>
                                    <tr>
                                        <td>Sample Taken:</td>
                                        <td>@b.SingleBurial.BurialSampleTaken</td>
                                    </tr>
                                    <tr>
                                        <td>Artifact Found:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>@b.SingleBurial.ArtifactFound</td>
                                    </tr>
                                    <tr>
                                        <td>Goods:</td>
                                        <td>@b.SingleBurial.Goods</td>
                                    </tr>
                                    <tr>
                                        <td>Photo Taken</td>
                                        <td>@b.SingleBurial.PhotoTaken</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </p>
                    <div class="text-right">
                        <form method="get" asp-action="BurialDetails">
                            <input type="hidden" name="id" value="@b.SingleBurial.BurialId" />
                            <button class="btn orange_button" style="float:right" type="submit">View More Details</button>
                        </form>
                    </div>

                </div>
            </div>


        }
        <div class="text-center">
            <div page-info="@Model.pageNumbering" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn blue_button" class="btn-group pull-right m-1">

            </div>
        </div>
    </div>
</div>







