@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Location 

<h2>Edit Location Burial Information</h2>
<h4>Essential Burial Information</h4>
<form method="post" asp-action="SubmitBurialLocation" class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <p style="color:red"><b>@ViewBag.BurialExists</b></p>

            <input type="hidden" name="BBid" value="@ViewBag.BB.SingleBurial.BurialId" />

            <label asp-for="BurialLocationNs">Burial Location (N/S):</label>
            <select asp-for="BurialLocationNs" class="form-control">
                @if (ViewBag.BB.SingleLocation.BurialLocationNs == "N")
                {
                    <option value="N" selected>North</option>
                    <option value="S">South</option>
                }
                else
                {
                    <option value="N">North</option>
                    <option value="S" selected>South</option>
                }
            </select>
            <br />

            <label asp-for="LowValueNs">Low Value: </label>
            <input asp-for="LowValueNs" class="form-control" value="@ViewBag.BB.SingleLocation.LowValueNs" />
            <br />

            <label asp-for="HighValueNs">High Value: </label>
            <input asp-for="HighValueNs" class="form-control" value="@ViewBag.BB.SingleLocation.HighValueNs"/>
            <br />

            <label asp-for="BurialLocationEw">Burial Location (E/W):</label>
            <select asp-for="BurialLocationEw" class="form-control">
                @if (ViewBag.BB.SingleLocation.BurialLocationEw == "E")
                {
                    <option value="E" selected>East</option>
                    <option value="W">West</option>
                }
                else
                {
                    <option value="E">East</option>
                    <option value="W" selected>West</option>
                }
            </select>
            <br />

            <label asp-for="LowValueEw">Low Value: </label>
            <input asp-for="LowValueEw" class="form-control" value="@ViewBag.BB.SingleLocation.LowValueEw" />
            <br />

            <label asp-for="HighValueEw">High Value: </label>
            <input asp-for="HighValueEw" class="form-control" value="@ViewBag.BB.SingleLocation.HighValueEw" />
            <br />
        </div>

        <div class="col-lg-6">
            <br />

            <label for="burialnum">Burial Number: </label>
            <input for="burialnum" name="burialnum" class="form-control" value="@ViewBag.BB.SingleBurial.BurialNumber" />
            <br />



            <p>*Only one of these fields is required*</p>
            <p style="color:red">@ViewBag.SubLocationError</p>

            <label for="subplot">Subplot: </label>
            <select for="subplot" name="subplot" class="form-control">
                @if (ViewBag.SubplotNull == "true")
                {
                    <option value="" selected></option>
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                }
                else if (ViewBag.SubplotNull == "NE")
                {
                    <option value=""></option>
                    <option value="NE" selected>NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                }
                else if (ViewBag.SubplotNull == "NW")
                {
                    <option value=""></option>
                    <option value="NE">NE</option>
                    <option value="NW" selected>NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                }
                else if (ViewBag.SubplotNull == "SE")
                {
                    <option value=""></option>
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE" selected>SE</option>
                    <option value="SW">SW</option>
                }
                else
                {
                    <option value=""></option>
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE" selected>SE</option>
                    <option value="SW">SW</option>
                }
            </select>

            <br />

            <label for="areanum">Area Number: </label>
            <input for="areanum" name="areanum" class="form-control" value="@ViewBag.BB.SingleSublocation.AreaNumber" />
            <br />

            <label for="tombnum">Tomb Number: </label>
            <input for="tombnum" name="tombnum" class="form-control" value="@ViewBag.BB.SingleSublocation.TombNumber" />
            <br />

            <div asp-validation-summary="All" style="color:red"></div>

            <button type="submit" class="btn blue_button">Save Changes</button>

        </div>
    </div>
</form>
