@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BasicBurial>

<h4>Gallery</h4>
<h2>All Images From the Fag el-Gamous Cemetery</h2>
<br /><br />

<div class="row">
    @foreach (BasicBurial b in Model)
    {
    <div class="col-4">

        <form asp-action="BurialDetails">
            <input type="hidden" name="id" value="@b.SingleBurial.BurialId" />
            <button type="submit" class="btn text-black-50 bg-white border-color:black">
                <h5>Burial ID: @b.SingleLocation.BurialLocationNs @b.SingleLocation.LowValueNs/@b.SingleLocation.HighValueNs @b.SingleLocation.BurialLocationEw @b.SingleLocation.LowValueEw/@b.SingleLocation.HighValueEw @b.SingleSublocation.Subplot #@b.SingleBurial.BurialNumber</h5>
            </button>
        </form>
        <br />
        <img src="@b.SingleImage.ImagePath" class="img-fluid" />
        <br /><br />
    </div>
     }
</div>





